/* ChatRoom.module.css */

.chatList {
  list-style: none;
  padding: 0;
}

.chatItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.profile {
  margin-right: 10px;
}

.profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.infoBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.name {
  font-weight: bold;
}

.unreadCount {
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatContent {
  flex: 1;
}

.content {
  margin-top: 5px;
}
