.outer {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  margin-top: 15%;
  margin-left: 30%;
  margin-right: 30%;
}
.appImg {
  flex: 1;
  display: inline;
  text-align: left;
  margin-right: 5%;
}
.LoginPage {
  flex: 2;
  text-align: center;
  display: inline-block;
  margin-left: 5%;
}
.sign {
  margin-right: -20%;
  text-align: left;
  color: rgb(135, 196, 242);
  text-decoration: none;
  font-size: 15px;
}

.foundPwd {
  font-size: 15px;
}

.signup {
  text-align: right;
  color: rgb(135, 196, 242);
  text-decoration: none;
}
.serchId {
  color: rgb(135, 196, 242);
}

.button {
  padding: 0.3rem 3%;
  width: 260px;
  margin-top: 3%;
  background-color: rgb(135, 196, 242);
  text-align: center;
  border: 0;
  border-radius: 10px;
  color: white;
}

.Input {
  width: 250px;
  height: 30px;

  border-color: rgb(201, 206, 211);

  border-radius: 10px;
}
