.layout {
  margin-top: 80px;
  width: 100%;
}

.mainLayout {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 2px solid black;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.emptybox{
    width: 5rem;
    flex-grow: 2;
}

.flexbox1 {
  flex-grow: 1;
  width: 6rem;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.flexbox2 {
  /* background-color: antiquewhite; */
  flex-grow: 4;
  width: 58rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexbox3 {
  flex-grow: 1;
  width: 6rem;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}


.hot {
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.hotPost {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
}

.box1 {
  /* background-color: aquamarine; */
  border-radius: 20px;
  padding: 1%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.box2 {
  /* background-color: aquamarine; */
  border-radius: 20px;
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 1rem;
}

.footer {
  margin-top: 1rem;
  background-color: #5299eb;
  font-size: 2rem;
  height: 6vh;
}
