.outer {
  text-align: center;
  align-items: center;
  margin-top: 15%;
  flex: 1;
  /* background-color: antiquewhite; */
}

.header {
  font-size: 100%;
  font-weight: bolder;
}
.text {
  font-size: 100%;
}

.Input {
  margin-top: 1%;
  border-width: 1%;
  border-radius: 3%;
  width: 22%;
  height: 22%;
  padding: 0.5%;
}

.cancel {
  background-color: #ffffff;
  margin: 1%;
  border-width: 1%;
  border-radius: 5%;
  width: 10%;
  height: 5%;
  padding-left: 2%;
  padding-right: 2%;
  transition: all 0.3s;
}
.cancel:hover {
  background-color: #ececec;
}
.search {
  background-color: #88c5fa;
  margin: 1%;
  border-radius: 5%;
  border-width: 1%;
  padding-left: 2%;
  padding-right: 2%;
  width: 10%;
  height: 2%;
  color: #ffffff;
  transition: all 0.3s;
}
.search:hover {
  background-color: rgb(95, 178, 242);
}
.image {
  width: 7%;
  height: 7%;
}
