.post {
  padding: 0.3rem;
  border-bottom: 0.5px solid black;
}
.postUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
  padding: 0.1rem 0;
  font-size: 1rem;
}

.userLeft {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.postContent {
  font-size: 1.1rem;
  font-weight: bolder;
  padding: 0.7rem 0;
  margin: 0;
  max-width: max-content;
}
.postContent:hover {
  cursor: pointer;
  color: #686868;
}

.postHash {
  font-size: 0.8rem;
  margin: 0;
  color: #5299eb;
}

.cnt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3px;
}
