.container {
  padding: 40px;
}

/* 각 섹션 스타일링 */
.userInfo,
.accountSettings,
.communitySettings,
.etc {
  width: 150%;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 120px;
  padding-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-left: -120px;
}

.profileSection {
  display: flex;
}

.profileImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.profileLabels {
  display: flex;
  flex-direction: column;
}

/* 각 label 스타일링 */
.userDetails label {
  margin-bottom: 6px;
}
