.container {
  padding: 40px;
}

/* 각 섹션 스타일링 */
.userInfo,
.accountSettings,
.communitySettings,
.etc {
  width: 100%;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 120px;
  padding-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-left: -120px;
}

.profileSection {
  display: flex;
}

.profileImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.list,
.userInfomation {
  display: flex;
  flex-direction: column;
}

/* 각 label 스타일링 */

.etc,
.list label {
  margin-bottom: 6px;
  cursor: pointer;
  transition: text-decoration 0.2s ease;
}

.etc label:hover {
  text-decoration: underline;
}
.list label:hover {
  text-decoration: underline;
}
